.Zeltwiese-Überblick{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh 13vw 5vh 13vw;
    background-color:#7400BE;
}

.Zeltwiese-Überblick-Bild{
    width: 55vw;
    height: auto;
}

    .Zeltwiese-Überblick-Buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .Zeltwiese-Überblick-Button{
            margin: 1vh 2.5vw 1vh 2.5vw;
            flex-grow: 0;
    }

 .Zeltwiese-Infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5vh 13vw 5vh 13vw;
        gap: 2.5vh;
    }

.Zeltwiese-Infos-Überschrift{
        margin-top: +2.5vh;;
}

    #Wasser-Strom, #Sanitäranlagen-Müll, #Verbotene-Gegenstände, #Zeltwiese{
        scroll-margin-top: 20vh;
    }

@media(max-width:630px){
    #Wasser-Strom, #Sanitäranlagen-Müll, #Verbotene-Gegenstände, #Zeltwiese{
        scroll-margin-top: 15vh;
    }
}
@media(max-width:1450px){
    .Zeltwiese-Infos-Bild{
        display: none;
    }

    .Zeltwiese-Infos-Text{
        padding: 5vh 13vw 0 13vw;
    }
}

@media(max-width:1200px){
    .Zeltwiese-Überblick-Bild{
        width: 90vw;
    }

@media(max-width:800px){
    .Zeltwiese-Überblick-Buttons{
      flex-direction:column
    }
    }
}
